<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>API_KEY</key>
	<string>AIzaSyAS_7J8-hJcNZlp4cvF2hvU43LKnszrPhI</string>
	<key>GCM_SENDER_ID</key>
	<string>645591083879</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.example.webKsa.RunnerTests</string>
	<key>PROJECT_ID</key>
	<string>kodar-58d3a</string>
	<key>STORAGE_BUCKET</key>
	<string>kodar-58d3a.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:645591083879:ios:8c96045c2afe11d41a1dc2</string>
</dict>
</plist>